# OpenWeatherMap API
OPENWEATHER_API_KEY="twój_klucz_api"

# Twilio Config
TWILIO_ACCOUNT_SID="twój_sid_konta"
TWILIO_AUTH_TOKEN="twój_token_uwierzytelniający"
MY_PHONE_NUMBER="48123456789"  # Bez prefixu +48

# Location
LOCATION_LAT="50.332133"
LOCATION_LON="18.892080"